header#app-header {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

header#app-header div {
  display: flex;
  align-items: center;
}

header#app-header div svg {
  font-size: 3rem;
  fill: #62ad7a;

  margin-right: .5rem;

  transform: rotate(-45deg);
}

header#app-header nav {
  display: flex;
  align-items: center;
}

header#app-header nav ul {
  display: flex;

  list-style: none;
}

header#app-header nav ul li {
  font-size: 1.25rem;

  border-bottom: 3px solid transparent;

  cursor: pointer;
}

header#app-header nav ul li:not(:last-child) {
  margin-right: 1.25rem;
}

header#app-header nav ul li:hover {
  border-bottom: 3px solid #62ad7a;
}

header#app-header button {
  padding: .5rem 1.5rem;

  font-size: 1.05rem;
  font-weight: bold;

  background-color: #2b2937;
  border: none;
  border-radius: 32px;

  cursor: pointer;
}

header#app-header button:hover {
  background-color: #62ad7a;
}
