* {
  padding: 0;
  margin: 0;

  font-family: 'Inconsolata', sans-serif;

  transition: all .75s;

  color: white;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(26, 22, 31);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Major Mono', sans-serif;
}
