@font-face {
  src: url(../../assets/fonts/NotoSans-Regular.ttf);
  font-family: 'NotoSans';
}

* {
  padding: 0;
  margin: 0;

  font-family: 'NotoSans';
}

html {
  background-color: dodgerblue;
}

html, body {
  height: 100%;
  width: 100%;
}
